.title-1
    font-weight: 700
    font-size: 4.5rem
    color: $color-white

.title-2
    font-weight: 700
    font-size: 4rem
    line-height: 100%
    color: $color-white

.title-4
    font-weight: 300
    font-size: 1.9rem
    letter-spacing: .2rem
