.section-features
    padding: 15rem 0
    display: grid
    grid-column: center-start / center-end
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr))
    grid-gap: 3rem 4rem
    align-items: start

.section-cards
    padding: 15rem 0
    display: grid
    grid-column: center-start / center-end
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr))
    grid-gap: 4rem 6rem
    @include respond(phone)
        padding: 5rem 0

.section-gallery
    padding: 1.5rem
    background: $color-blue-dark
    display: grid
    grid-column: full-start / full-end
    grid-template-columns: repeat(8, 1fr)
    grid-gap: 1.5rem
    grid-template-rows: repeat(7, 5vw)

.footer
    background-color: $color-blue-dark
    grid-column: full-start / full-end
    padding: 8rem 3rem
    border-top: solid .3rem $color-gray
