.btn
    &, &:visited, &:link
        background: $color-green-light
        padding: 1.5rem 3rem
        text-decoration: none
        color: $color-white
        text-transform: uppercase
        font-weight: 700
        transition: background .2s ease
        text-align: center

    &:hover
        background: $color-green-dark
