.feature
    display: grid
    grid-template-columns: min-content 1fr
    grid-gap: 1.5rem 2.5rem

    &__title
        font-weight: 700
        color: $color-green-dark

    &__description
        line-height: 113%
        color: $color-green-dark

    &__icon
        height: 4.5rem
        width: 4.5rem
        grid-row: 1 / span 2
        color: $color-green-light
        margin-top: -1rem
        
