.gamers
    display: grid
    grid-column: col-start 7 / full-end
    grid-template-columns: max-content
    align-content: center
    justify-content: center
    grid-gap: 4rem 2rem
    background-color: $color-blue-dark

    @include respond(tab-port)
        grid-column: 1 / -1
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr))
        justify-items: center
        padding: 5rem 0

    @include respond(phone)
        grid-template-columns: min-content
        justify-items: start

    &__box
        display: grid
        grid-template-columns: max-content max-content
        grid-column-gap: 2rem

    &__title
        grid-column: 1 / -1
        justify-self: center
        text-transform: uppercase
        color: $color-green-light
        font-weight: 700

    &__img
        width: 7rem
        height: 7rem
        border-radius: 50%
        object-fit: cover

    &__description
        align-self: center

    &__name
        color: $color-white
        font-weight: 700

    &__score
        font-size: 1.6rem
        color: $color-gray
        font-weight: 300
