.footer
    &__logo
        display: block
        width: 12rem
        margin-inline: auto
        margin-bottom: 8rem

    &__list
        list-style-type: none
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))
        grid-gap: 3.5rem
        justify-items: center

    &__link
        &:link, &:visited
            text-transform: uppercase
            color: $color-white
            text-decoration: none
            text-align: center
            transition: all .2s ease
            display: inline-block
        &:hover, &:active
            color: $color-green-dark
